body {
	min-width: 320px;
	max-width: 680px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	background-color: #222;
}

.container {
	margin: 40px;
}

.container > * {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

p {
	color: #fff;
}



@media only screen and (min-width: 480px) {
	/*styles for tablet*/
}
