body {
	min-width: 320px;
	max-width: 680px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	background-color: #222;
}

.container {
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.container button {
	padding: 10px 20px;
	border: none;
	background-color: #efefef;
}

p {
	color: #efefef;
}

/* set coin image sizes */

.coin {
	display: flex;
}

.coin img {
	height: auto;
	width: auto;
	max-width: 120px;
	max-height: 120px;
}

.spin img {
	max-width: 160px;
	max-height: 160px;
}

/* default states before animation */

#spin {
	display: none;
}

#flip {
	display: none;
}
