body {
	min-width: 320px;
	max-width: 680px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	background-color: #222;
}

.container {
	margin: 40px;
}

.container > * {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

p {
	color: #fff;
}

.coin {
	display: flex;
}

.coin img {
	height: auto;
	width: auto;
	max-width: 120px;
	max-height: 120px;
}

#result img {

}

.spin img {
	max-width: 160px;
	max-height: 160px;
}

#spin {
	display: none;
}

#flip {
	display: none;
}

@media only screen and (min-width: 480px) {
	/*styles for tablet*/
}
